<body>
    <p id="who"></p>
    <hr>
    <p id="received-message"></p>

    <script>
        /* 
        //原写法
        document.getElementById("who").innerText = 
        "the iframe:" + "\n" +
        "document.location.href is " + document.location.href + "\n" + 
        "window.parent.location.href is " + window.parent.document.location.href;
        */

         //因为window.parent.location.href这条语句 可能因为"无法跨域"而抛出异常 所以写try-catch-finally
        try {
            var tempstr;
            tempstr = "window.parent.location.href is" + window.parent.document.location.href;
        } catch (e) {
            tempstr = "window.parent.location.href is null";
            console.log('捕获到异常：', e);
        } finally {
            document.getElementById("who").innerText =
                "the iframe:" + "\n" +
                "document.location.href is " + document.location.href + "\n" + tempstr;
        }


        function displayMessage(evt) {
            var message;
            message =
                "I got a message " + "<strong>" + evt.data + "</strong>" + "from <strong>" + evt.origin + "</strong>" + "<hr>" +
                "evt.data is <strong>" + evt.data + "</strong><br>" +
                "evt.origin is <strong>" + evt.origin + "</strong><br>" +
                "<hr>";
            document.getElementById("received-message").innerHTML = message;
        }

        if (window.addEventListener) {
            // For standards-compliant web browsers
            window.addEventListener("message", displayMessage, false);
        } else {
            window.attachEvent("onmessage", displayMessage);
        }
    </script>
</body>